In [1]:
import pandas as pd

In [2]:
s ="data/base_url_"

In [5]:
print(s+str(1))

base_url_1

In [ ]:
try:
    for i in range(21):
        print(s+str(i+1)+".csv")
        
except BaseException:
    pass

In [3]:
df1=pd.read_csv(s+str(1)+".csv")
# df2=pd.read_csv(s+str(17)+".csv")
# df3=pd.read_csv(s+str(18)+".csv")
# df4=pd.read_csv(s+str(19)+".csv")
# df5=pd.read_csv(s+str(20)+".csv")

In [4]:
df1.isna().sum()

base_id      0
url        164
dtype: int64

In [47]:
print(df1.shape)
# print(df2.shape)
# print(df3.shape)
# print(df4.shape)
# print(df5.shape)

# print(df1.shape)

(293, 2)

In [28]:
test_df = pd.read_csv("book_sum.csv")

In [29]:
test_df.shape

(9293, 8)

In [44]:
fin_df=pd.concat([fin_df,df1])

In [45]:
fin_df.shape

(8500, 2)

In [49]:
fin_df.head()

    base_id                                                url
0   /m/0hhy  https://encrypted-tbn3.gstatic.com/images?q=tb...
1   /m/0k36  https://encrypted-tbn2.gstatic.com/images?q=tb...
2   /m/0ldx  https://encrypted-tbn1.gstatic.com/images?q=tb...
3   /m/0x5g  https://encrypted-tbn0.gstatic.com/images?q=tb...
4  /m/011zx  https://encrypted-tbn1.gstatic.com/images?q=tb...

In [48]:
test_df.head()

,Unnamed: 0,book_id,freebase_id,book_title,author,pub_date,book_genre,summary
0,0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"['Roman à clef', 'Satire', ""Children's literat...","Old Major, the old boar on the Manor Farm, ca..."
1,1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"['Science Fiction', 'Novella', 'Speculative fi...","Alex, a teenager living in near-future Englan..."
2,2,986,/m/0ldx,The Plague,Albert Camus,1947,"['Existentialism', 'Fiction', 'Absurdist ficti...",The text of The Plague is divided into five p...
3,5,2152,/m/0x5g,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"['War novel', 'Roman à clef']","The book tells the story of Paul Bäumer, a Ge..."
4,6,2890,/m/011zx,A Wizard of Earthsea,Ursula K. Le Guin,1968,"[""Children's literature"", 'Fantasy', 'Speculat...","Ged is a young boy on Gont, one of the larger..."

In [51]:
tf=pd.merge(test_df,fin_df,how='left',left_on='freebase_id',right_on='base_id')

In [53]:
tf=tf.iloc[:,1:]

In [56]:
tf=tf.drop(columns='base_id')

In [57]:
tf.head()

,book_id,freebase_id,book_title,author,pub_date,book_genre,summary,url
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"['Roman à clef', 'Satire', ""Children's literat...","Old Major, the old boar on the Manor Farm, ca...",https://encrypted-tbn3.gstatic.com/images?q=tb...
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"['Science Fiction', 'Novella', 'Speculative fi...","Alex, a teenager living in near-future Englan...",https://encrypted-tbn2.gstatic.com/images?q=tb...
2,986,/m/0ldx,The Plague,Albert Camus,1947,"['Existentialism', 'Fiction', 'Absurdist ficti...",The text of The Plague is divided into five p...,https://encrypted-tbn1.gstatic.com/images?q=tb...
3,2152,/m/0x5g,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"['War novel', 'Roman à clef']","The book tells the story of Paul Bäumer, a Ge...",https://encrypted-tbn0.gstatic.com/images?q=tb...
4,2890,/m/011zx,A Wizard of Earthsea,Ursula K. Le Guin,1968,"[""Children's literature"", 'Fantasy', 'Speculat...","Ged is a young boy on Gont, one of the larger...",https://encrypted-tbn1.gstatic.com/images?q=tb...

In [59]:
tf.to_csv("data.csv",index=False)