In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("data.csv")

In [15]:
df.columns

Index(['book_id', 'freebase_id', 'book_title', 'author', 'pub_date',
       'book_genre', 'summary', 'url', 'pub_year'],
      dtype='object')

In [9]:
df.head()

,book_id,freebase_id,book_title,author,pub_date,book_genre,summary,url,pub_year
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"['Roman à clef', 'Satire', ""Children's literat...","Old Major, the old boar on the Manor Farm, ca...",https://encrypted-tbn3.gstatic.com/images?q=tb...,1945
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"['Science Fiction', 'Novella', 'Speculative fi...","Alex, a teenager living in near-future Englan...",https://encrypted-tbn2.gstatic.com/images?q=tb...,1962
2,986,/m/0ldx,The Plague,Albert Camus,1947,"['Existentialism', 'Fiction', 'Absurdist ficti...",The text of The Plague is divided into five p...,https://encrypted-tbn1.gstatic.com/images?q=tb...,1947
3,2152,/m/0x5g,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"['War novel', 'Roman à clef']","The book tells the story of Paul Bäumer, a Ge...",https://encrypted-tbn0.gstatic.com/images?q=tb...,1929
4,2890,/m/011zx,A Wizard of Earthsea,Ursula K. Le Guin,1968,"[""Children's literature"", 'Fantasy', 'Speculat...","Ged is a young boy on Gont, one of the larger...",https://encrypted-tbn1.gstatic.com/images?q=tb...,1968

In [4]:
df['pub_date']=df['pub_date'].astype('string')

In [5]:
df['pub_year']=df.pub_date.str.slice(0,4,1)

In [7]:
df.to_csv("data.csv",index=False)

In [11]:
df['url'].isna().sum()

8305

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9293 entries, 0 to 9292
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   book_id      9293 non-null   int64
 1   freebase_id  9293 non-null   object
 2   book_title   9293 non-null   object
 3   author       9293 non-null   object
 4   pub_date     9293 non-null   object
 5   book_genre   9293 non-null   object
 6   summary      9293 non-null   object
 7   url          988 non-null    object
 8   pub_year     9293 non-null   int64
dtypes: int64(2), object(7)
memory usage: 653.5+ KB

In [25]:
df.head()

,book_id,freebase_id,book_title,author,pub_date,book_genre,summary,url,pub_year
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"['Roman à clef', 'Satire', ""Children's literat...","Old Major, the old boar on the Manor Farm, ca...",https://encrypted-tbn3.gstatic.com/images?q=tb...,1945
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"['Science Fiction', 'Novella', 'Speculative fi...","Alex, a teenager living in near-future Englan...",https://encrypted-tbn2.gstatic.com/images?q=tb...,1962
2,986,/m/0ldx,The Plague,Albert Camus,1947,"['Existentialism', 'Fiction', 'Absurdist ficti...",The text of The Plague is divided into five p...,https://encrypted-tbn1.gstatic.com/images?q=tb...,1947
3,2152,/m/0x5g,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"['War novel', 'Roman à clef']","The book tells the story of Paul Bäumer, a Ge...",https://encrypted-tbn0.gstatic.com/images?q=tb...,1929
4,2890,/m/011zx,A Wizard of Earthsea,Ursula K. Le Guin,1968,"[""Children's literature"", 'Fantasy', 'Speculat...","Ged is a young boy on Gont, one of the larger...",https://encrypted-tbn1.gstatic.com/images?q=tb...,1968

In [1]:
import sqlite3
import pandas as pd

In [18]:
con = sqlite3.connect("/home/mark/Documents/book_nlp_project/book_site/db.sqlite3")

df.to_sql("main_book",con,index=False,if_exists="append")
con.close()

In [16]:
df.to_sql("Book",con,if_exists="replace")

9293

In [17]:
con.close()

In [2]:
con = sqlite3.connect("/home/mark/Documents/book_nlp_project/book_site/db.sqlite3")

In [3]:
pd.read_sql_query("select * from main_book limit 1;", con)

Empty DataFrame
Columns: [book_id, freebase_id, title, pub_date, genre, author, summary, url, pub_year]
Index: []

In [5]:
con.close()

In [9]:
df=df.iloc[:,1:]

In [10]:
df

,freebase_id,book_title,author,pub_date,book_genre,summary,url,pub_year
0,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"['Roman à clef', 'Satire', ""Children's literat...","Old Major, the old boar on the Manor Farm, ca...",https://encrypted-tbn3.gstatic.com/images?q=tb...,1945
1,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"['Science Fiction', 'Novella', 'Speculative fi...","Alex, a teenager living in near-future Englan...",https://encrypted-tbn2.gstatic.com/images?q=tb...,1962
2,/m/0ldx,The Plague,Albert Camus,1947,"['Existentialism', 'Fiction', 'Absurdist ficti...",The text of The Plague is divided into five p...,https://encrypted-tbn1.gstatic.com/images?q=tb...,1947
3,/m/0x5g,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,"['War novel', 'Roman à clef']","The book tells the story of Paul Bäumer, a Ge...",https://encrypted-tbn0.gstatic.com/images?q=tb...,1929
4,/m/011zx,A Wizard of Earthsea,Ursula K. Le Guin,1968,"[""Children's literature"", 'Fantasy', 'Speculat...","Ged is a young boy on Gont, one of the larger...",https://encrypted-tbn1.gstatic.com/images?q=tb...,1968
...,...,...,...,...,...,...,...,...
9288,/m/02vqwsp,The Third Lynx,Timothy Zahn,2007,['Science Fiction'],The story starts with former government agent...,NaN,2007
9289,/m/072y44,Remote Control,Andy McNab,1997,"['Thriller', 'Fiction', 'Suspense']",The series follows the character of Nick Ston...,NaN,1997
9290,/m/04f1nbs,Transfer of Power,Vince Flynn,2000-06-01,"['Thriller', 'Fiction']",The reader first meets Rapp while he is doing...,NaN,2000
9291,/m/0n5236t,Decoded,Jay-Z,2010-11-16,['Autobiography'],The book follows very rough chronological ord...,NaN,2010
9292,/m/073nkd,Poor Folk,Fyodor Dostoyevsky,1846,"['Epistolary novel', 'Speculative fiction']",Makar Devushkin and Varvara Dobroselova are s...,NaN,1846